@page "/"
@using SpawnDev.BlazorJS
@using SpawnDev.BlazorJS.JSObjects
@using SpawnDev.MatrixLEDDisplay.Demo.Components
@using SpawnDev.MatrixLEDDisplay.UI
@implements IAsyncDisposable

<PageTitle>Matrix LED Display Demo</PageTitle>

<h1>Matrix LED Display Demo</h1>
<div>
    <img src="mi-matrix-display-400x334.png" width="48" />
</div>
<button disabled="@(!isWebBluetoothEnabled || _connecting)" @onclick=ConnectClick>Connect</button>
<p>BLE state: <strong><span style="color:#d13a30;">@bleState</span></strong></p>
<div>
    Images will be scaled to 16x16. 16x16 pixel art is recommended.
    The device will revert upon disconnect.
</div>

@foreach (var display in DisplayService.Displays)
{
    <div>
        <div>Name: @display.DeviceName</div>
        <div>Id: @display.DeviceHexId</div>
        <div>
            <button disabled="@(!display.Connected)" @onclick=display.SendTestPicture>Load Pattern</button>
            <button disabled="@(!display.Connected)" @onclick=@(() => LoadPenguinImage(display))>Load Test Image</button>
            <button disabled="@(!display.Connected)" @onclick=display.SelectAndLoadImage>Load Image File</button>
            <button @onclick=@(() => DisplayService.RemoveDisplay(display))>Remove</button>
        </div>
        <div title="Matrix display gamma correction">
            <label for="gamma">Gamma: @(Math.Round(display.Gamma, 2))</label><br />
            <UISlider Name="gamma" Min="0" Max="1" Value=@display.Gamma Change="@((v) => display.Gamma = v)" />
        </div>
        <div title="Used with images that have transparency">
            <label for="background_color">Background Color: @display.BackgroundColorHex</label><br />
            <input name="background_color" type="color" @onchange="@(e => ColorPicker(e, display))" value="@display.BackgroundColorHex">
        </div>
        <div>
            <LEDMatrix Data="display.DrawnData"></LEDMatrix>
        </div>
    </div>
}

@code
{

    void ColorPicker(ChangeEventArgs args, MIMatrixDisplay display)
    {
        var newColor = args.Value as string;
        display.BackgroundColorHex = newColor!;
    }
    [Inject]
    BlazorJSRuntime JS { get; set; } = default!;

    [Inject]
    MatrixLEDDisplayService DisplayService { get; set; } = default!;

    string bleState = "";
    bool isWebBluetoothEnabled = false;

    void Display_OnStateChanged(MIMatrixDisplay display)
    {
        StateHasChanged();
    }
    void DisplayAdded(MIMatrixDisplay display)
    {
        display.OnStateChanged += Display_OnStateChanged;
        StateHasChanged();
    }
    void DisplayRemoved(MIMatrixDisplay display)
    {
        display.OnStateChanged -= Display_OnStateChanged;
        StateHasChanged();
    }
    async Task LoadPenguinImage(MIMatrixDisplay display)
    {
        await display.LoadImageFromURL("pixelart/penguin_16.png");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            DisplayService.OnDisplayAdded += DisplayAdded;
            DisplayService.OnDisplayRemoved += DisplayRemoved;
            using var navigator = JS.Get<Navigator>("navigator");
            using var bluetooth = navigator.Bluetooth;
            isWebBluetoothEnabled = bluetooth != null;
            if (!isWebBluetoothEnabled)
            {
                bleState = "Web Bluetooth not supported";
            }
            else
            {
                bleState = "Ready";
            }
            StateHasChanged();
        }
    }
    bool _connecting = false;
    async Task ConnectClick()
    {
        if (_connecting || !isWebBluetoothEnabled) return;
        _connecting = true;
        bleState = "Connecting...";
        StateHasChanged();
        try
        {
            await DisplayService.ConnectDisplay();
        }
        finally
        {
            _connecting = false;
            bleState = "Ready";
            StateHasChanged();
        }
    }
    public async ValueTask DisposeAsync()
    {

    }
}